body {
  font-family: "Titillium Web", sans-serif;
  background: rgb(36, 53, 63);
}

h1 {
  color: rgb(23, 162, 184);
}

.group {
  box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;
}

.loginCommon,
.signupCommon {
  background-color: transparent;
}

.loginCommon::placeholder,
.signupCommon::placeholder {
  color: #b6b6b6;
}

.loginCommon:focus,
.signupCommon:focus {
  border-color: #80bdff;
  box-shadow: none;
  background-color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
